@font-face { font-family: Harabara; src: url('https://raw.githubusercontent.com/KhushC-03/khushbot-assets/main/madani-medium.ttf'); }
html{
    font-family: Harabara;
    scroll-behavior: smooth;
    letter-spacing:0.07em;
    width: auto!important; 
    overflow-x: hidden!important;
    
}
.div{
    position: relative;
    text-align: center;
}

.dashbutton{
    position: relative;
    margin-top:20px;
    margin-left:10px;
    width:140px;
    height:45px;
    background: #3a4fc6;
    border-radius:10px;
    padding-top:22px;
    text-align: center;
    -webkit-box-shadow:0 0 5px #3a4fc6; 
    -moz-box-shadow: 0 0 5px #3a4fc6; 
    box-shadow:0 0 5px #3a4fc6;
}
.dashlabel{
    
    font-size:20px;
    color: white;
}
h1{
    text-align: center;
    color: white;
    font-size:2.6em;
    position: relative;
    top: 60px;
    white-space: nowrap;
    

}

h2{
    position: relative;
    text-align: center;
    color: white;
    font-size: 2em;
    word-wrap: break-word;

}
.sub1{
    top: 90px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 91vw;
    max-width: 900px;
    word-wrap: break-word;

}


.cliImage{
    text-align: center;
    position: relative;
    top: 150px;
    width: 92vw;
    max-width: 1000px;  
}
.cli{
    text-align: center;
    margin: 0 auto;
}
.sold-out{
    text-align: center;
    position: relative;
    top:210px;
    background-color:#3a4fc6;
    height: 50px;
    margin: 0 auto;
    width: 280px;
    border: none !important;
    border-radius:10px;
    padding-top: 25px;
    -webkit-box-shadow:0 0 5px #3a4fc6; 
    -moz-box-shadow: 0 0 5px #3a4fc6; 
    box-shadow:0 0 5px #3a4fc6;
}
.oostext{
    font-size: 1.4em;
    text-align: center;
    color: white;
}

.scroll-container{
    top:300px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    overflow: auto;
    white-space: nowrap;
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-top:7.5px;
    padding-bottom: 7.5px;
    background: #181a2b;
    height: auto;
    max-width: 900px;
    border-radius:20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overscroll-behavior: contain;
  }
.scroll-container::-webkit-scrollbar {
    display: none;
}  
.gridscroll{
    display:inline-block;
}
  
.gridscroll img {
    margin-right:22px;
    height:160px;
    border-radius:20px;
    width: auto;
    background-color:#181a2b;    
}

.allfeatures{
    top:350px;
    position: relative;
    width: auto;
    height: 305px;
    max-width: 900px;
    max-height: 485px;
    
    text-align: left;
    margin: 0 auto;
    background-color: #181a2b;
    border-radius:20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container {
    display: flex;
    align-items: center;
    padding-bottom:30px
  }

.feature-image1 {
    width:60px;
    height:60px;
    background-color: #aaffc0;
    border-radius:10px;
    margin-left: 20px;
    padding: 5px 5px 5px 5px;
    border:none;
    -webkit-box-shadow:0 0 5px #aaffc0; 
    -moz-box-shadow: 0 0 5px #aaffc0; 
    box-shadow:0 0 5px #aaffc0;
}
.feature-image2 {
    width:60px;
    height:60px;
    background-color: #ffeea5;
    border-radius:10px;
    margin-left: 20px;
    padding: 5px 5px 5px 5px;
    border:none;
    -webkit-box-shadow:0 0 5px #ffeea5; 
    -moz-box-shadow: 0 0 5px #ffeea5; 
    box-shadow:0 0 5px #ffeea5;
}

.feature-image3 {
    text-align: center;
    width:60px;
    height:60px;
    background-color: #96e0f9;
    border-radius:10px;
    margin-left: 20px;
    padding: 5px 5px 5px 5px;
    border:none;
    -webkit-box-shadow:0 0 5px #96e0f9; 
    -moz-box-shadow: 0 0 5px #96e0f9; 
    box-shadow:0 0 5px #96e0f9;
}
.text {
    font-size: 1.3em;
    margin-left: 15px;
    margin-right: 4px;
    color:white;
    letter-spacing:0.08em;
}

.qt-italics{
    font-size:0.8em;
}

@media (max-width: 700px) {
    .scroll-container{
        width:430px
    }
    .allfeatures{
        width: 450px;
    }
}